.dashboardContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    background: whitesmoke;
    padding: 5px 10px;
}

.dashboardCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2px;
    width : 300px;
}
